/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* Reset styles */
a {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Base styles */
.container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Comfortaa", cursive;
  font-style: normal;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  display: block;
  padding: 20px 50px;
  background-color: #01996D;
  border: 1px solid #01996D;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.25;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}
.button:hover, .button:focus {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.section-pretitle {
  font-weight: 600;
  font-size: 25px;
  line-height: 3.16;
  color: #424242;
}

.section-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.58;
  color: #01996D;
}

.section-text {
  font-size: 20px;
  line-height: 1.55;
  color: #424242;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  background-color: #01996D;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  margin-top: 8px;
  padding: 6px;
  background-color: #01996D;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #d6d6d6;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  margin-right: 172px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #424242;
}
.header-item:not(:last-child) {
  margin-right: 72px;
}
.header-item:hover, .header-item:focus {
  color: #01996D;
}

.login-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-text {
  margin-right: 35px;
  font-size: 20px;
  line-height: 1.2;
  color: #424242;
}

.button.top {
  padding: 13px 50px;
  border: none;
  background-color: rgba(1, 153, 109, 0.5);
}

.section-hero {
  background-image: url(/images/bg.jpg);
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: url(/images/bg@2x.jpg);
  }
}

.hero {
  padding-top: 175px;
  padding-bottom: 298px;
  width: 440px;
}

.hero-title {
  margin-bottom: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 1.1384615385;
  color: #01996D;
}

.hero-text {
  margin-bottom: 53px;
  font-size: 20px;
  line-height: 1.55;
  color: #424242;
}

.work .container {
  padding-top: 169px;
  padding-bottom: 255px;
}

.work-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-titles {
  width: 584px;
  margin-right: 120px;
}

.work-desckript {
  width: 671px;
}

.steps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steps-item {
  width: calc((100% - 196px) / 3);
}
.steps-item:not(:last-child) {
  margin-right: 98px;
}
.steps-item:nth-child(2) {
  -webkit-transform: translateY(270px);
          transform: translateY(270px);
}
.steps-item:nth-child(3) {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.steps-number {
  position: relative;
  top: 90px;
  left: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 1.5;
  text-align: center;
  color: rgba(1, 153, 109, 0.2);
}

.steps-title {
  margin-bottom: 55px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  color: #424242;
}

.steps .section-text {
  margin-bottom: 60px;
}

.about {
  background-color: #245852;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 229px;
  padding-bottom: 176px;
}

.about-info {
  width: 580px;
  margin-right: 31px;
}

.about .section-title {
  color: #ffffff;
  margin-bottom: 33px;
}

.about-text {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.56;
  color: #ffffff;
  margin-bottom: 57px;
}

.product .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-top: 120px;
  padding-bottom: 240px;
}

.product-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  margin-right: 86px;
  margin-left: 50px;
}
.product-img::before {
  content: " ";
  position: absolute;
  left: -70px;
  bottom: -90px;
  width: 331px;
  height: 334px;
  background-image: url(/images/card.png);
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-img::before {
    background-image: url(/images/card@2x.png);
  }
}

.product-info .section-pretitle {
  margin-bottom: 10px;
}
.product-info .section-title {
  margin-bottom: 20px;
}
.product-info .section-text {
  margin-bottom: 40px;
}

.footer {
  background-color: #245852;
}

.footer .container {
  padding-top: 105px;
  padding-bottom: 144px;
}

.footer-logo {
  margin-bottom: 75px;
}

.footer-item {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  color: #ffffff;
}
.footer-item:not(:last-child) {
  margin-bottom: 60px;
}/*# sourceMappingURL=main.css.map */