.about {
  background-color: $background-green;
}

.about .container {
  display: flex;
  padding-top: 229px;
  padding-bottom: 176px;
}

.about-info {
  width: 580px;
  margin-right: 31px;
}

.about .section-title {
  color: $white-color;
  margin-bottom: 33px;
}

.about-text {
  font-weight: 600;
  font-size: 25px;
  line-height: calc(39 / 25);
  color: $white-color;
  margin-bottom: 57px;
}


