.section-hero {
  background-image: url('../images/bg.jpg');
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/bg@2x.jpg');
  }
}

.hero {
  padding-top: 175px;
  padding-bottom: 298px;
  width: 440px;
}

.hero-title {
  margin-bottom: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: calc(74 / 65);
  color: $base-green-text;
}

.hero-text {
  margin-bottom: 53px;
  font-size: 20px;
  line-height: calc(31 / 20);
  color: $text-color;
}
