.section-hero {
  background-image: url(/images/BG.jpg);

}

.hero {
  padding-top: 175px;
  padding-bottom: 336px;
  width: 440px;
}

.hero-title {
  margin-bottom: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 74px;
  color: #01996d;
}

.hero-text {
  margin-bottom: 53px;
  font-size: 20px;
  line-height: 31px;
  color: #484848;
}


