.work .container {
  padding-top: 169px;
  padding-bottom: 255px;
}

.work-info {
  display: flex;
  align-items: center;
}

.work-titles {
  width: 584px;
  margin-right: 120px;
}

.work-desckript {
  width: 671px;
}

.steps-list {
  display: flex;
}

.steps-item {
  width: calc((100% - 196px) / 3);
  &:not(:last-child) {
    margin-right: 98px;
  }
  &:nth-child(2) {
    transform: translateY(270px);
  }
  &:nth-child(3) {
    transform: translateY(30px);
  }
}

.steps-number {
  position: relative;
  top: 73px;
  left: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 1.3;
  text-align: center;
  color: rgba(1, 153, 109, 0.2);
}

.steps-title {
  margin-bottom: 55px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  color: #000000;
}

.steps .section-text {
  margin-bottom: 60px;
}
