.product .container {
  display: flex;
  margin-left: auto;
  padding-top: 120px;
  padding-bottom: 240px;
}

.product-img {
  display: flex;
  position: relative;
  margin-right: 86px;
  margin-left: 50px;
  &::before {
    content: " ";
    position: absolute;
    left: -70px;
    bottom: -90px;
    width: 331px;
    height: 334px;
    background-image: url(/images/card.png);
  }
}

.product-info {
  & .section-pretitle {
    margin-bottom: 10px;
  }
  & .section-title {
    margin-bottom: 20px;
  }
  & .section-text {
    margin-bottom: 40px;
  }
}
