/* Base styles */

.container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Comfortaa", cursive;
  font-style: normal;
  font-weight: 400;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  display: block;
  padding: 20px 50px;
  background-color: $base-green-text;
  border: 1px solid $base-green-text;
  border-radius: 4px;
  color: $white-color;
  cursor: pointer;
  font-size: 20px;
  line-height: calc(25 / 20);
  transition: transform 250ms linear;
  &:hover,
  &:focus {
    transform: scale(1.02);  
  }
}

.section-pretitle {
  font-weight: 600;
  font-size: 25px;
  line-height: calc(79 / 25);
  color: $text-color;
}

.section-title {
  font-family: "Georgia";

 
  font-size: 50px;
  line-height: calc(79 / 50);
  color: $base-green-text;
}

.section-text {
  font-size: 20px;
  line-height: calc(31 / 20);
  color: $text-color;
}
